1. View the classification report for your best model.

    ```python
    from sklearn.metrics import classifciation_report

    print(classification_report(y, predictions))
    ```

1. Within our problem space, what does accuracy mean? Precision? Recall?

In [ ]:
from pydataset import data
import pandas as pd

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score

In [35]:
def score_your_model(actual, predicted):
    """
    A bunch of the sklearn metrics functions that show how well our model's predictions compare to their
    actual values. Returns nothing. Just prints out a nicely formatted block of classification scores.
    """
    print('Accuracy: {:.2%}'.format(accuracy_score(actual, predicted)))
    print('---')
    #A matrix that shows where the prediction compare to what they should acutally be
    print('Confusion Matrix')
    print(pd.crosstab(predicted, actual))
    print('---')
    #A readout of precision and recall.
    print(classification_report(actual, predicted))

In [7]:
the_data = data('voteincome')

type(the_data)

pandas.core.frame.DataFrame

In [9]:
the_data

     state  year  vote  income  education  age  female
1       AR  2000     1       9          2   73       0
2       AR  2000     1      11          2   24       0
3       AR  2000     0      12          2   24       1
4       AR  2000     1      16          4   40       0
5       AR  2000     1      10          4   85       1
...    ...   ...   ...     ...        ...  ...     ...
1496    SC  2000     1      17          4   53       1
1497    SC  2000     1      10          2   24       0
1498    SC  2000     1      12          3   46       0
1499    SC  2000     0      12          1   79       1
1500    SC  2000     1       9          1   36       1

[1500 rows x 7 columns]

1. Drop the `state` and `year` columns.

In [11]:
the_data = the_data.drop(['state','year'],axis=1)

1. Split the data into train and test datasets. We will be predicting whether or
   not someone votes based on the the remaining features.

In [ ]:
y = the_data.vote

X = the_data.drop('vote',axis=1)

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.3,random_state=123)

1. Fit a k-neighbors classifier on the training data. Use 4 for your number of
   neighbors. How accurate is your model? How does it perform on the test data?

In [51]:
y_train_df = pd.DataFrame(y_train)
y_test_df = pd.DataFrame(y_test)

In [52]:
neigh = KNeighborsClassifier(n_neighbors=3)

In [60]:
neigh_one = KNeighborsClassifier(n_neighbors=1)

In [61]:
neigh_one.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [62]:
neigh_one.score(X_train, y_train)

0.9780952380952381

In [63]:
neigh_one.score(X_test, y_test)

0.84

In [64]:
train_predictions1 = neigh_one.predict(X_train)

In [65]:
test_predictions1 = neigh_one.predict(X_test)

In [66]:
score_your_model(y_train, train_predictions1)

Accuracy: 97.81%
---
Confusion Matrix
vote     0    1
row_0
0      144   13
1       10  883
---
              precision    recall  f1-score   support

           0       0.92      0.94      0.93       154
           1       0.99      0.99      0.99       896

    accuracy                           0.98      1050
   macro avg       0.95      0.96      0.96      1050
weighted avg       0.98      0.98      0.98      1050

In [67]:
score_your_model(y_test, test_predictions1)

Accuracy: 84.00%
---
Confusion Matrix
vote    0    1
row_0
0      25   34
1      38  353
---
              precision    recall  f1-score   support

           0       0.42      0.40      0.41        63
           1       0.90      0.91      0.91       387

    accuracy                           0.84       450
   macro avg       0.66      0.65      0.66       450
weighted avg       0.84      0.84      0.84       450

1. Try our these values for k: 1, 2, 3, and 4. Which gives the best accuracy?
   Which gives the best accuracy on the test data set?

In [68]:
from sklearn import __version__

In [69]:
__version__

'0.21.3'