In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [2]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

Use the starter code above to create a pandas dataframe.

In [3]:
spark_df = spark.createDataFrame(pandas_dataframe)

Show the first 3 rows of the dataframe.

Show the first 7 rows of the dataframe.

In [4]:
spark_df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [5]:
spark_df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

View a summary of the data using .describe.

In [7]:
spark_df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [8]:
spark_df.select(spark_df.n, spark_df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [9]:
spark_df.select(spark_df.group, spark_df.abool.alias("a_boolean_value")).show(5)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
|    y|          false|
|    z|          false|
+-----+---------------+
only showing top 5 rows

Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [10]:
spark_df.select(spark_df.group, spark_df.n.alias("a_numeric_value")).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

Use .select to add 4 to the n column. Show the results.

In [11]:
spark_df.select(spark_df.n + 4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

Subtract 5 from the n column and view the results.

In [12]:
spark_df.select(spark_df.n + 5).show()

+------------------+
|           (n + 5)|
+------------------+
| 4.287609337949412|
| 5.753766378659703|
| 4.955496921661947|
|  5.45181233874579|
|6.3451017084510095|
| 5.532337888294546|
| 6.350187899722527|
|  5.86121137416932|
| 6.478685737435897|
| 3.954622869461466|
| 4.211010975048451|
| 3.738394054680931|
| 5.562846785281032|
| 4.756673748114437|
| 5.913740704859677|
| 5.317350922736336|
| 5.127303280206981|
| 7.150382967381113|
| 5.606288656896298|
| 4.973228350013559|
+------------------+

Multiply the n column by 2. View the results along with the original numbers.

In [17]:
n2 = (spark_df.n * -1).alias('n2')
n3 = (spark_df.n * spark_df.n).alias('n3')

In [13]:
spark_df.select(spark_df.n * 2, spark_df.n).show()

+--------------------+--------------------+
|             (n * 2)|                   n|
+--------------------+--------------------+
|  -1.424781324101176|  -0.712390662050588|
|   1.507532757319406|   0.753766378659703|
|-0.08900615667610691|-0.04450307833805...|
|  0.9036246774915795| 0.45181233874578974|
|  2.6902034169020195|  1.3451017084510097|
|  1.0646757765890926|  0.5323378882945463|
|  2.7003757994450535|  1.3501878997225267|
|  1.7224227483386412|  0.8612113741693206|
|   2.957371474871793|  1.4786857374358966|
| -2.0907542610770684| -1.0453771305385342|
| -1.5779780499030978| -0.7889890249515489|
|  -2.523211890638138|  -1.261605945319069|
|  1.1256935705620628|  0.5628467852810314|
|-0.48665250377112507|-0.24332625188556253|
|   1.827481409719355|  0.9137407048596775|
|  0.6347018454726719| 0.31735092273633597|
| 0.25460656041396135| 0.12730328020698067|
|   4.300765934762225|  2.1503829673811126|
|  1.2125773137925977|  0.6062886568962988|
|-0.05354329997288145|-0.02677164998644...|
+--------------------+--------------------+

Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [16]:
spark_df.select((spark_df.n * -1).alias('n2'), spark_df.n).show(4)

+--------------------+--------------------+
|                  n2|                   n|
+--------------------+--------------------+
|   0.712390662050588|  -0.712390662050588|
|  -0.753766378659703|   0.753766378659703|
|0.044503078338053455|-0.04450307833805...|
|-0.45181233874578974| 0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [20]:
spark_df.select(spark_df.n, n2, n3).show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097| -1.3451017084510097|  1.8092986060778251|
+--------------------+--------------------+--------------------+
only showing top 5 rows

What happens when you run the code below?

df.group + df.abool

In [24]:
x = spark_df.group + spark_df.abool

In [26]:
#  due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean)
#spark_df.select(x).show(5)

In [28]:
spark_df.select(spark_df.group + spark_df.abool)

AnalysisException: "cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;;\n'Project [(cast(group#1 as double) + abool#2) AS (group + abool)#227]\n+- LogicalRDD [n#0, group#1, abool#2], false\n"