In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

In [2]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

Use the starter code above to create a pandas dataframe.

In [3]:
spark_df = spark.createDataFrame(pandas_dataframe)

Show the first 3 rows of the dataframe.

Show the first 7 rows of the dataframe.

In [4]:
spark_df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [5]:
spark_df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

View a summary of the data using .describe.

In [7]:
spark_df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.36640264498852165| null|
| stddev| 0.8905322898155364| null|
|    min| -1.261605945319069|    x|
|    max| 2.1503829673811126|    z|
+-------+-------------------+-----+

Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [8]:
spark_df.select(spark_df.n, spark_df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [9]:
spark_df.select(spark_df.group, spark_df.abool.alias("a_boolean_value")).show(5)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
|    y|          false|
|    z|          false|
+-----+---------------+
only showing top 5 rows

Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [10]:
spark_df.select(spark_df.group, spark_df.n.alias("a_numeric_value")).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

Use .select to add 4 to the n column. Show the results.

In [11]:
spark_df.select(spark_df.n + 4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

Subtract 5 from the n column and view the results.

In [12]:
spark_df.select(spark_df.n + 5).show()

+------------------+
|           (n + 5)|
+------------------+
| 4.287609337949412|
| 5.753766378659703|
| 4.955496921661947|
|  5.45181233874579|
|6.3451017084510095|
| 5.532337888294546|
| 6.350187899722527|
|  5.86121137416932|
| 6.478685737435897|
| 3.954622869461466|
| 4.211010975048451|
| 3.738394054680931|
| 5.562846785281032|
| 4.756673748114437|
| 5.913740704859677|
| 5.317350922736336|
| 5.127303280206981|
| 7.150382967381113|
| 5.606288656896298|
| 4.973228350013559|
+------------------+

Multiply the n column by 2. View the results along with the original numbers.

In [17]:
n2 = (spark_df.n * -1).alias('n2')
n3 = (spark_df.n * spark_df.n).alias('n3')

In [13]:
spark_df.select(spark_df.n * 2, spark_df.n).show()

+--------------------+--------------------+
|             (n * 2)|                   n|
+--------------------+--------------------+
|  -1.424781324101176|  -0.712390662050588|
|   1.507532757319406|   0.753766378659703|
|-0.08900615667610691|-0.04450307833805...|
|  0.9036246774915795| 0.45181233874578974|
|  2.6902034169020195|  1.3451017084510097|
|  1.0646757765890926|  0.5323378882945463|
|  2.7003757994450535|  1.3501878997225267|
|  1.7224227483386412|  0.8612113741693206|
|   2.957371474871793|  1.4786857374358966|
| -2.0907542610770684| -1.0453771305385342|
| -1.5779780499030978| -0.7889890249515489|
|  -2.523211890638138|  -1.261605945319069|
|  1.1256935705620628|  0.5628467852810314|
|-0.48665250377112507|-0.24332625188556253|
|   1.827481409719355|  0.9137407048596775|
|  0.6347018454726719| 0.31735092273633597|
| 0.25460656041396135| 0.12730328020698067|
|   4.300765934762225|  2.1503829673811126|
|  1.2125773137925977|  0.6062886568962988|
|-0.05354329997288145|-0.02677164998644...|
+--------------------+--------------------+

Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [16]:
spark_df.select((spark_df.n * -1).alias('n2'), spark_df.n).show(4)

+--------------------+--------------------+
|                  n2|                   n|
+--------------------+--------------------+
|   0.712390662050588|  -0.712390662050588|
|  -0.753766378659703|   0.753766378659703|
|0.044503078338053455|-0.04450307833805...|
|-0.45181233874578974| 0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [20]:
spark_df.select(spark_df.n, n2, n3).show(5)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
|  1.3451017084510097| -1.3451017084510097|  1.8092986060778251|
+--------------------+--------------------+--------------------+
only showing top 5 rows

What happens when you run the code below?

df.group + df.abool

In [24]:
x = spark_df.group + spark_df.abool

In [26]:
#  due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean)
#spark_df.select(x).show(5)

In [29]:
#spark_df.select(spark_df.group + spark_df.abool)

Turn your dataframe into a table that can be queried with spark SQL. Name the table my_df. Answer the rest of the questions in this section with a spark sql query (spark.sql) against my_df. After each step, view the first 7 records from the dataframe.

In [30]:
spark_df.createOrReplaceTempView("df")

Write a query that shows all of the columns from your dataframe.

In [32]:
spark.sql(
    """
SELECT *
FROM df
"""
).show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

Write a query that shows just the n and abool columns from the dataframe.

In [33]:
spark.sql(
    """
SELECT n, abool
FROM df
"""
).show(7)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
+--------------------+-----+
only showing top 7 rows

Write a query that shows just the n and group columns. Rename the group column to g.

In [34]:
spark.sql(
    """
SELECT n, group AS g
FROM df
"""
).show(7)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
|  1.3451017084510097|  z|
|  0.5323378882945463|  y|
|  1.3501878997225267|  z|
+--------------------+---+
only showing top 7 rows

Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.

In [35]:
spark.sql(
    """
SELECT n, n/2 AS n2, n-1 AS n3
FROM df
"""
).show(7)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
+--------------------+--------------------+--------------------+
only showing top 7 rows

What happens if you make a SQL syntax error in your query?

In [36]:
spark.sql(
    """
SELECTER n, n/2 AS n2, n-1 AS n3
FROM df
"""
).show(7)

ParseException: "\nmismatched input 'SELECTER' expecting {'(', 'SELECT', 'FROM', 'ADD', 'DESC', 'WITH', 'VALUES', 'CREATE', 'TABLE', 'INSERT', 'DELETE', 'DESCRIBE', 'EXPLAIN', 'SHOW', 'USE', 'DROP', 'ALTER', 'MAP', 'SET', 'RESET', 'START', 'COMMIT', 'ROLLBACK', 'REDUCE', 'REFRESH', 'CLEAR', 'CACHE', 'UNCACHE', 'DFS', 'TRUNCATE', 'ANALYZE', 'LIST', 'REVOKE', 'GRANT', 'LOCK', 'UNLOCK', 'MSCK', 'EXPORT', 'IMPORT', 'LOAD'}(line 2, pos 0)\n\n== SQL ==\n\nSELECTER n, n/2 AS n2, n-1 AS n3\n^^^\nFROM df\n"

# Type casting

Use .printSchema to view the datatypes in your dataframe.

In [37]:
spark_df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

Use .dtypes to view the datatypes in your dataframe.

In [38]:
spark_df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

What is the difference between the two code samples below?

df.abool.cast('int')

df.select(df.abool.cast('int')).show()

In [39]:
spark_df.abool.cast('int')

Column<b'CAST(abool AS INT)'>

In [41]:
spark_df.select(spark_df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

Use .select and .cast to convert the abool column to an integer type. View the results.

In [42]:
spark_df.select(spark_df.abool.cast('int')).show(7)

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+
only showing top 7 rows

Convert the group column to a integer data type and view the results. What happens?

In [43]:
spark_df.select(spark_df.group.cast('int')).show(7)

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+
only showing top 7 rows

Convert the n column to a integer data type and view the results. What happens?

In [44]:
spark_df.select(spark_df.n.cast('int')).show(7)

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
+---+
only showing top 7 rows

Convert the abool column to a string data type and view the results. What happens?

In [45]:
spark_df.select(spark_df.abool.cast('string')).show(7)

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
+-----+
only showing top 7 rows

# Built-in Functions

Import the necessary functions from pyspark.sql.functions

In [60]:
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean, concat_ws, lit

Find the highest n value.

In [47]:
spark_df.select(
    max(spark_df.n),
).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

Find the lowest n value.

In [48]:
spark_df.select(
    min(spark_df.n),
).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

Find the average n value.

In [49]:
spark_df.select(
    avg(spark_df.n),
).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.36640264498852165|
+-------------------+

Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [59]:
spark_df.select(concat(lit("Group"), spark_df.group)).show(5)

+-------------+
|concat(group)|
+-------------+
|            z|
|            x|
|            z|
|            y|
|            z|
|            y|
|            z|
+-------------+
only showing top 7 rows

Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [57]:
spark_df.select(concat_ws(': ', spark_df.group, spark_df.n).alias('Group : Number')).show(7)

+--------------------+
|      Group : Number|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
|y: 0.532337888294...|
|z: 1.350187899722...|
+--------------------+
only showing top 7 rows