In [1]:
import acquire

In [2]:
df = acquire.get_titanic_data()

In [58]:
import numpy as np
import pandas as pd
# Import visualization modules
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler

In [4]:
df_iris = acquire.get_iris_data()

In [7]:
# Drop the species_id and measurement_id columns.
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
measurement_id    150 non-null int64
sepal_length      150 non-null float64
sepal_width       150 non-null float64
petal_length      150 non-null float64
petal_width       150 non-null float64
species_id        150 non-null int64
species_id        150 non-null int64
species_name      150 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 9.5+ KB

In [9]:
df_iris.drop(['species_id','measurement_id'],inplace=True,axis=1)

In [13]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [12]:
df_iris = df_iris.rename(columns={"species_name": "species"})

In [ ]:
# Encode the species name using a sklearn label encoder. 
# Research the inverse_transform method of the label encoder. How might this be useful?

In [14]:
#No nulls
df_iris.species.value_counts(dropna=False)

virginica     50
setosa        50
versicolor    50
Name: species, dtype: int64

In [16]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [15]:
labelencoder = LabelEncoder()

In [18]:
labelencoder.fit(df_iris.species)

LabelEncoder()

In [20]:
df_iris.species = labelencoder.transform(df_iris.species)

In [24]:
df_iris.species.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

In [27]:
def prep_iris():
    df_iris = acquire.get_iris_data()
    df_iris.drop(['species_id','measurement_id'],inplace=True,axis=1)
    df_iris = df_iris.rename(columns={"species_name": "species"})
    
    labelencoder = LabelEncoder()
    labelencoder.fit(df_iris.species)
    df_iris.species = labelencoder.transform(df_iris.species)
    return df_iris

In [28]:
blob = prep_iris()

In [30]:
blob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null int64
dtypes: float64(4), int64(1)
memory usage: 5.9 KB

In [38]:
df_titanic = acquire.get_titanic_data()

In [64]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
passenger_id    891 non-null int64
survived        891 non-null int64
pclass          891 non-null int64
sex             891 non-null object
age             714 non-null float64
sibsp           891 non-null int64
parch           891 non-null int64
fare            891 non-null float64
embarked        891 non-null int64
class           891 non-null object
embark_town     889 non-null object
alone           891 non-null int64
dtypes: float64(2), int64(7), object(3)
memory usage: 83.6+ KB

In [ ]:
#Handle the missing values in the embark_town and embarked columns.

In [32]:
df_titanic.embark_town.fillna('Other', inplace=True)

In [42]:
df.embark_town.fillna('Other', inplace=True)

In [45]:
df.embark_town.value_counts()

Southampton    644
Cherbourg      168
Queenstown      77
Other            2
Name: embark_town, dtype: int64

In [49]:
df_titanic.drop('deck', inplace=True, axis=1)

In [51]:
lab_enc = LabelEncoder()

In [52]:
df_titanic.embarked.fillna('Unknown', inplace=True)

In [54]:
lab_enc.fit(df_titanic.embarked)

LabelEncoder()

In [55]:
df_titanic.embarked = lab_enc.transform(df_titanic.embarked)

In [57]:
df_titanic.embarked.head()

0    2
1    0
2    2
3    2
4    2
Name: embarked, dtype: int64

In [59]:
scaler = MinMaxScaler()

In [60]:
scaler.fit(df_titanic[['fare']])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [63]:
df_titanic.fare = scaler.transform(df_titanic[['fare']])

In [65]:
df_titanic.fare.head()

0    0.014151
1    0.139136
2    0.015469
3    0.103644
4    0.015713
Name: fare, dtype: float64

In [66]:
scaler2 = MinMaxScaler()

In [67]:
scaler2.fit(df_titanic[['age']])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [68]:
df_titanic.age = scaler.transform(df_titanic[['age']])