In [4]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [25]:
grades_data = pd.read_csv('student_grades.csv')

In [18]:
grades_data.head()

   student_id  exam1  exam2 exam3  final_grade
0           1  100.0     90    95           96
1           2   98.0     93    96           95
2           3   85.0     83    87           87
3           4   83.0     80    86           85
4           5   93.0     90    96           97

In [24]:
grades_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 4 columns):
student_id     104 non-null int64
exam1          103 non-null float64
exam2          104 non-null int64
final_grade    104 non-null int64
dtypes: float64(1), int64(3)
memory usage: 3.3 KB

In [ ]:
grades_data.exam3 = grades_data.exam3.str.strip().replace('', np.nan).astype(float)

In [33]:
grades_data = grades_data.dropna()

In [34]:
grades_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 103
Data columns (total 5 columns):
student_id     102 non-null int64
exam1          102 non-null float64
exam2          102 non-null int64
exam3          102 non-null float64
final_grade    102 non-null int64
dtypes: float64(2), int64(3)
memory usage: 4.8 KB

In [49]:
#MAKE THE FEATURE MATRIX
X = grades_data.iloc[:,1:5]
X = grades_data.drop('final_grade',axis=1)

In [50]:
#PICK THE TARGET ARRAY
y = grades_data.iloc[:,-1]

In [41]:
from sklearn.feature_selection import SelectKBest, chi2, f_regression

In [51]:
# 1 Instantiate the estimator/model and then 2 fit it on to the FEATURE MATRIX and TARGET ARRAY
X_new=SelectKBest(score_func=chi2,k=2).fit_transform(X,y)

In [52]:
#X_new is a matrix that is as wide as k. k is 2 in this case, as defined in the parameters of instantiating 
#the SelectKBest estimator
print(X_new[:5])

[[100.  90.]
 [ 98.  93.]
 [ 85.  83.]
 [ 83.  80.]
 [ 93.  90.]]

In [53]:
X_new.shape
#Each row contains the value of the 2 best features for predicting this row's target variable.

(102, 2)

In [54]:
X.head()

   student_id  exam1  exam2  exam3
0           1  100.0     90   95.0
1           2   98.0     93   96.0
2           3   85.0     83   87.0
3           4   83.0     80   86.0
4           5   93.0     90   96.0

In [ ]:
#We can see that for student0, exam1 and exam2's scores were the kbest feature to predict y
#Looks that way for the first 5 students. Exam1 and Exam2 are the kbest features for predicting the target

In [55]:
f_selector = SelectKBest(f_regression, k=2)

In [56]:
f_selector.fit(X, y)

SelectKBest(k=2, score_func=<function f_regression at 0x121a16b70>)

In [57]:
#This creates an array of True|False values that is as wide as there are columns. 4 in this case.
f_support = f_selector.get_support()

In [61]:
#This maps that 4 T|F values to the columns, with only the trues being added.
#Those trues are the features that should be selected, as dictated by KBest and f_regression algorithm
f_feature = X.loc[:,f_support].columns.tolist()

In [64]:
print(str(len(f_feature)), 'selected features')

2 selected features

In [65]:
print(f_feature)
# or use >>> X.columns[selector.get_support(indices=True)]

['exam1', 'exam3']

In [66]:
X.columns[f_selector.get_support(indices=True)]

Index(['exam1', 'exam3'], dtype='object')