In [1]:
# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Exploring
import scipy.stats as stats

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve
%matplotlib inline

In [2]:
import acquire
import summarize
import prepare

In [3]:
df = acquire.get_zillow_singles()

In [4]:
df.shape

(73596, 61)

In [5]:
df2 = acquire.get_real_zillow_singles()

In [6]:
df2.shape

(73424, 61)

In [8]:
len(df.parcelid.unique())

73424

In [11]:
summarize.nulls_by_col(df).sort_values(by='pct_rows_missing')

                              num_rows_missing  pct_rows_missing
id                                           0          0.000000
assessmentyear                               0          0.000000
roomcnt                                      0          0.000000
regionidcounty                               0          0.000000
rawcensustractandblock                       0          0.000000
propertylandusetypeid                        0          0.000000
propertycountylandusecode                    0          0.000000
logerror                                     0          0.000000
longitude                                    0          0.000000
latitude                                     0          0.000000
fips                                         0          0.000000
calculatedfinishedsquarefeet                 0          0.000000
transactiondate                              0          0.000000
bedroomcnt                                   0          0.000000
parcelid                                     0          0.000000
bathroomcnt                                  0          0.000000
taxvaluedollarcnt                            1          0.000014
landtaxvaluedollarcnt                        1          0.000014
taxamount                                    5          0.000068
fullbathcnt                                 15          0.000204
calculatedbathnbr                           15          0.000204
yearbuilt                                   35          0.000476
regionidzip                                 44          0.000598
structuretaxvaluedollarcnt                  75          0.001019
censustractandblock                        216          0.002935
finishedsquarefeet12                       217          0.002949
regionidcity                              1438          0.019539
lotsizesquarefeet                         8083          0.109829
heatingorsystemtypeid                    25270          0.343361
unitcnt                                  26529          0.360468
...                                        ...               ...
buildingqualitytypeid                    26830          0.364558
regionidneighborhood                     44855          0.609476
garagetotalsqft                          48313          0.656462
garagecarcnt                             48313          0.656462
airconditioningtypeid                    48996          0.665743
numberofstories                          56274          0.764634
poolcnt                                  57575          0.782312
pooltypeid7                              58670          0.797190
threequarterbathnbr                      63496          0.862764
fireplacecnt                             65340          0.887820
finishedsquarefeet50                     67589          0.918379
finishedfloor1squarefeet                 67589          0.918379
taxdelinquencyflag                       70960          0.964183
taxdelinquencyyear                       70960          0.964183
yardbuildingsqft17                       71215          0.967648
hashottuborspa                           72058          0.979102
pooltypeid2                              72522          0.985407
poolsizesum                              72732          0.988260
decktypeid                               72985          0.991698
pooltypeid10                             73132          0.993695
typeconstructiontypeid                   73373          0.996970
architecturalstyletypeid                 73389          0.997187
fireplaceflag                            73424          0.997663
finishedsquarefeet6                      73443          0.997921
yardbuildingsqft26                       73527          0.999062
storytypeid                              73546          0.999321
basementsqft                             73546          0.999321
finishedsquarefeet15                     73558          0.999484
finishedsquarefeet13                     73570          0.999647
buildingclasstypeid                      73596          1.000000

[61 rows x 2 columns]

In [13]:
#handles missing rows eleminates rows that have a missing portion higher than the threshold given as  the second 
#parameter.
new_df = prepare.handle_missing_columns(df, .5)

In [14]:
#as can be seen here, where there is no column that is missing more than .5 of their records
summarize.nulls_by_col(new_df)

                              num_rows_missing  pct_rows_missing
id                                           0          0.000000
parcelid                                     0          0.000000
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingqualitytypeid                    26830          0.364558
calculatedbathnbr                           15          0.000204
calculatedfinishedsquarefeet                 0          0.000000
finishedsquarefeet12                       217          0.002949
fips                                         0          0.000000
fullbathcnt                                 15          0.000204
heatingorsystemtypeid                    25270          0.343361
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                         8083          0.109829
propertycountylandusecode                    0          0.000000
propertylandusetypeid                        0          0.000000
propertyzoningdesc                       26568          0.360998
rawcensustractandblock                       0          0.000000
regionidcity                              1438          0.019539
regionidcounty                               0          0.000000
regionidzip                                 44          0.000598
roomcnt                                      0          0.000000
unitcnt                                  26529          0.360468
yearbuilt                                   35          0.000476
structuretaxvaluedollarcnt                  75          0.001019
taxvaluedollarcnt                            1          0.000014
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        1          0.000014
taxamount                                    5          0.000068
censustractandblock                        216          0.002935
logerror                                     0          0.000000
transactiondate                              0          0.000000

In [26]:
df2 = prepare.handle_missing_rows(df, .4)

In [28]:
summarize.nulls_by_row(df2).sort_values(by='num_cols_missing')

       pct_cols_missing  num_cols_missing
17897         30.645161                19
14681         30.645161                19
11559         32.258065                20
44051         32.258065                20
51713         32.258065                20
29370         32.258065                20
30646         32.258065                20
60238         32.258065                20
9105          32.258065                20
59193         32.258065                20
17715         32.258065                20
72266         32.258065                20
13920         33.870968                21
62659         33.870968                21
20658         33.870968                21
46932         33.870968                21
46633         33.870968                21
21072         33.870968                21
21973         33.870968                21
45945         33.870968                21
63677         33.870968                21
23106         33.870968                21
44642         33.870968                21
23691         33.870968                21
44600         33.870968                21
24021         33.870968                21
57993         33.870968                21
65479         33.870968                21
24390         33.870968                21
4544          33.870968                21
...                 ...               ...
49154         38.709677                24
49155         38.709677                24
49165         38.709677                24
49185         38.709677                24
19593         38.709677                24
21416         38.709677                24
20359         38.709677                24
47724         38.709677                24
46629         38.709677                24
46730         38.709677                24
20827         38.709677                24
46808         38.709677                24
46856         38.709677                24
46890         38.709677                24
20797         38.709677                24
20668         38.709677                24
20622         38.709677                24
47742         38.709677                24
47103         38.709677                24
20572         38.709677                24
47207         38.709677                24
47215         38.709677                24
47224         38.709677                24
20474         38.709677                24
47474         38.709677                24
47533         38.709677                24
20446         38.709677                24
47697         38.709677                24
47133         38.709677                24
37376         38.709677                24

[1612 rows x 2 columns]