In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import acquire

In [3]:
df = acquire.get_zillow_chunk()

## ACQUIRE the most recent transaction for each parcelid that happened in 2017

In [ ]:
df.columns

In [4]:
len(df)

73424

In [ ]:
len(df.parcelid.unique())

In [ ]:
df_sorted = df.sort_values(by='transactiondate', ascending=False)

In [ ]:
blobs = df_sorted.parcelid.unique()

In [ ]:
len(blobs)

In [ ]:
df_sorted.parcelid[[13083743,2,3]]

In [ ]:
 df.drop_duplicates(subset ="parcelid", keep = 'first', inplace = True)

In [ ]:
len(df)

## Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [6]:
import summarize

In [7]:
summarize.df_summary(df)

--- Shape: (73424, 61)
--- Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 73424 entries, 0 to 73594
Data columns (total 61 columns):
id                              73424 non-null int64
parcelid                        73424 non-null int64
airconditioningtypeid           24546 non-null float64
architecturalstyletypeid        206 non-null float64
basementsqft                    50 non-null float64
bathroomcnt                     73424 non-null float64
bedroomcnt                      73424 non-null float64
buildingclasstypeid             0 non-null object
buildingqualitytypeid           46646 non-null float64
calculatedbathnbr               73409 non-null float64
decktypeid                      611 non-null float64
finishedfloor1squarefeet        5993 non-null float64
calculatedfinishedsquarefeet    73424 non-null float64
finishedsquarefeet12            73208 non-null float64
finishedsquarefeet13            26 non-null float64
finishedsquarefeet15            37 non-null float64
finishedsquarefeet50            5993 non-null float64
finishedsquarefeet6             153 non-null float64
fips                            73424 non-null float64
fireplacecnt                    8243 non-null float64
fullbathcnt                     73409 non-null float64
garagecarcnt                    25237 non-null float64
garagetotalsqft                 25237 non-null float64
hashottuborspa                  1537 non-null float64
heatingorsystemtypeid           48200 non-null float64
latitude                        73424 non-null float64
longitude                       73424 non-null float64
lotsizesquarefeet               65357 non-null float64
poolcnt                         15984 non-null float64
poolsizesum                     862 non-null float64
pooltypeid10                    463 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     14889 non-null float64
propertycountylandusecode       73424 non-null object
propertylandusetypeid           73424 non-null float64
propertyzoningdesc              46907 non-null object
rawcensustractandblock          73424 non-null float64
regionidcity                    71987 non-null float64
regionidcounty                  73424 non-null float64
regionidneighborhood            28669 non-null float64
regionidzip                     73380 non-null float64
roomcnt                         73424 non-null float64
storytypeid                     50 non-null float64
threequarterbathnbr             10090 non-null float64
typeconstructiontypeid          222 non-null float64
unitcnt                         46946 non-null float64
yardbuildingsqft17              2376 non-null float64
yardbuildingsqft26              69 non-null float64
yearbuilt                       73389 non-null float64
numberofstories                 17283 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      73351 non-null float64
taxvaluedollarcnt               73423 non-null float64
assessmentyear                  73424 non-null float64
landtaxvaluedollarcnt           73423 non-null float64
taxamount                       73419 non-null float64
taxdelinquencyflag              2623 non-null object
taxdelinquencyyear              2623 non-null float64
censustractandblock             73208 non-null float64
logerror                        73424 non-null float64
transactiondate                 73424 non-null object
dtypes: float64(54), int64(2), object(5)
memory usage: 34.7+ MB
--- Descriptions
                  id      parcelid  airconditioningtypeid  \
count   7.342400e+04  7.342400e+04           24546.000000
unique           NaN           NaN                    NaN
top              NaN           NaN                    NaN
freq             NaN           NaN                    NaN
mean    1.495578e+06  1.303098e+07               1.815204
std     8.608046e+05  3.371991e+06               2.975912
min     3.490000e+02  1.071186e+07               1.000000
25%     7.542930e+05  1.151491e+07               1.000000
50%     1.498964e+06  1.257023e+07               1.000000
75%     2.241077e+06  1.424073e+07               1.000000
max     2.982274e+06  1.676885e+08              13.000000

        architecturalstyletypeid  basementsqft   bathroomcnt    bedroomcnt  \
count                 206.000000     50.000000  73424.000000  73424.000000
unique                       NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq                         NaN           NaN           NaN           NaN
mean                    7.388350    679.720000      2.291471      3.028179
std                     2.734542    689.703546      0.945030      0.999494
min                     2.000000     38.000000      1.000000      1.000000
25%                     7.000000    273.000000      2.000000      2.000000
50%                     7.000000    515.000000      2.000000      3.000000
75%                     7.000000    796.500000      3.000000      4.000000
max                    21.000000   3560.000000     13.000000     11.000000

        buildingclasstypeid  buildingqualitytypeid  calculatedbathnbr  ...  \
count                   0.0           46646.000000       73409.000000  ...
unique                  0.0                    NaN                NaN  ...
top                     NaN                    NaN                NaN  ...
freq                    NaN                    NaN                NaN  ...
mean                    NaN               6.637311           2.291470  ...
std                     NaN               1.689259           0.945023  ...
min                     NaN               1.000000           1.000000  ...
25%                     NaN               6.000000           2.000000  ...
50%                     NaN               7.000000           2.000000  ...
75%                     NaN               8.000000           3.000000  ...
max                     NaN              12.000000          13.000000  ...

        structuretaxvaluedollarcnt  taxvaluedollarcnt  assessmentyear  \
count                 7.335100e+04       7.342300e+04         73424.0
unique                         NaN                NaN             NaN
top                            NaN                NaN             NaN
freq                           NaN                NaN             NaN
mean                  1.899111e+05       4.898952e+05          2016.0
std                   2.261086e+05       6.286868e+05             0.0
min                   4.400000e+01       1.000000e+03          2016.0
25%                   8.489450e+04       2.077305e+05          2016.0
50%                   1.370000e+05       3.600000e+05          2016.0
75%                   2.190075e+05       5.690860e+05          2016.0
max                   9.164901e+06       2.538125e+07          2016.0

        landtaxvaluedollarcnt      taxamount  taxdelinquencyflag  \
count            7.342300e+04   73419.000000                2623
unique                    NaN            NaN                   1
top                       NaN            NaN                   Y
freq                      NaN            NaN                2623
mean             3.001703e+05    5982.268291                 NaN
std              4.600894e+05    7318.556485                 NaN
min              1.610000e+02      19.920000                 NaN
25%              8.510650e+04    2719.045000                 NaN
50%              2.040700e+05    4446.520000                 NaN
75%              3.670350e+05    6916.040000                 NaN
max              2.233550e+07  290998.060000                 NaN

        taxdelinquencyyear  censustractandblock      logerror  transactiondate
count          2623.000000         7.320800e+04  73424.000000            73424
unique                 NaN                  NaN           NaN              264
top                    NaN                  NaN           NaN       2017-06-30
freq                   NaN                  NaN           NaN             1114
mean             14.107892         6.050080e+13      0.016598              NaN
std               2.219846         1.575434e+12      0.164469              NaN
min               4.000000         6.037101e+13     -4.655420              NaN
25%              14.000000         6.037401e+13     -0.023326              NaN
50%              15.000000         6.037621e+13      0.006719              NaN
75%              15.000000         6.059042e+13      0.038381              NaN
max              99.000000         4.830301e+14      5.262999              NaN

[11 rows x 61 columns]
--- Nulls By Column

NameError: name 'nulls_by_col' is not defined