In [68]:
import pandas as pd
import numpy as np
from scipy import stats

# 1

Load the attendance.csv file and calculate an attendnace percentage for each student. 

One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [2]:
df = pd.read_csv("untidy_data/attendance.csv")

In [5]:
df = df.rename(columns={"Unnamed: 0": "Student"})

In [10]:
df = df.melt(id_vars="Student", var_name='date', value_name='attendance')

In [12]:
df.attendance.uniqueque()

array(['P', 'A', 'T', 'H'], dtype=object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
Student       32 non-null object
date          32 non-null object
attendance    32 non-null object
Score         32 non-null float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [13]:
#A dictionary that corresponds a score for each of the attendance options.
event_dictionary ={'P' : 1, 'A' : 0, 'T' : 1, 'H' : 0.5}

In [17]:
#Create a new column that is made from the attendance column.
#dataframe.map is used to create the values.
df['Score'] = df['attendance'].map(event_dictionary)

In [25]:

df.groupby('Student')['Score'].sum()/8

Student
Billy    0.5625
Jane     0.7500
John     0.9375
Sally    0.8125
Name: Score, dtype: float64

In [28]:
sally = df[df.Student == 'Sally']

In [29]:
sally.Score.sum()

6.5

In [30]:
6.5/8

0.8125

In [104]:
sally.Score.mean()

0.8125

## 2

Transform the data so that each carafe is in it's own column.

Is this the best shape for the data?

In [31]:
df2 = pd.read_csv("untidy_data/coffee_levels.csv")

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
hour             30 non-null int64
coffee_carafe    30 non-null object
coffee_amount    30 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 848.0+ bytes

In [39]:
df2.pivot_table('coffee_amount', 'hour', 'coffee_carafe')

coffee_carafe         x         y         z
hour
8              0.816164  0.189297  0.999264
9              0.451018  0.521502  0.915990
10             0.843279  0.023163  0.144928
11             0.335533  0.235529  0.311495
12             0.898291  0.017009  0.771947
13             0.310711  0.997464  0.398520
14             0.507288  0.058361  0.864464
15             0.215043  0.144644  0.436364
16             0.183891  0.544676  0.280621
17             0.391560  0.594126  0.436677

# 3

Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.

Tidy the data as necessary.

Which recipe, on average, is the best? recipe b

Which oven temperature, on average, produces the best results? 275

Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [40]:
df3 = pd.read_csv("untidy_data/cake_recipes.csv")

In [53]:
df3

         225        250        275        300 oven position
0  61.738655  53.912627  74.414730  98.786784    a   bottom
1  51.709751  52.009735  68.576858  50.228470    a      top
2  57.095320  61.904369  61.196980  99.248541    b   bottom
3  82.455004  95.224151  98.594881  58.169349    b      top
4  96.470207  52.001358  92.893227  65.473084    c   bottom
5  71.306308  82.795477  92.098049  53.960273    c      top
6  52.799753  58.670419  51.747686  56.183110    d   bottom
7  96.873178  76.101363  59.571620  50.971626    d      top

In [45]:
df3['oven'] = df3['recipe:position'].str.extract(r'([abcd])')

In [50]:
df3['position'] = df3['recipe:position'].str.extract(r'^[abdc]:(\w*)$')

In [52]:
df3.drop('recipe:position', axis=1, inplace=True)

In [64]:
melted_df3 = df3.melt(id_vars=['oven','position'], var_name='temperature', value_name='cake_quality')

In [59]:
melted_df3

   oven position temperature  cake_quality
0     a   bottom         225     61.738655
1     a      top         225     51.709751
2     b   bottom         225     57.095320
3     b      top         225     82.455004
4     c   bottom         225     96.470207
5     c      top         225     71.306308
6     d   bottom         225     52.799753
7     d      top         225     96.873178
8     a   bottom         250     53.912627
9     a      top         250     52.009735
10    b   bottom         250     61.904369
11    b      top         250     95.224151
12    c   bottom         250     52.001358
13    c      top         250     82.795477
14    d   bottom         250     58.670419
15    d      top         250     76.101363
16    a   bottom         275     74.414730
17    a      top         275     68.576858
18    b   bottom         275     61.196980
19    b      top         275     98.594881
20    c   bottom         275     92.893227
21    c      top         275     92.098049
22    d   bottom         275     51.747686
23    d      top         275     59.571620
24    a   bottom         300     98.786784
25    a      top         300     50.228470
26    b   bottom         300     99.248541
27    b      top         300     58.169349
28    c   bottom         300     65.473084
29    c      top         300     53.960273
30    d   bottom         300     56.183110
31    d      top         300     50.971626

In [62]:
melted_df3.cake_quality.max()

99.2485405378462

In [66]:
melted_df3[melted_df3.cake_quality == melted_df3.cake_quality.max()]

   oven position temperature  cake_quality
26    b   bottom         300     99.248541

### Dont look past here

In [69]:
x = stats.randint(1,7)

In [70]:
x

In [71]:
x.rvs()

5

In [72]:
x.rvs(12)

array([1, 4, 6, 1, 3, 5, 2, 6, 1, 4, 3, 1])

In [74]:
x.rvs((3,3))

array([[1, 4, 6],
       [3, 2, 1],
       [4, 6, 5]])

In [100]:
stats.binom(10,.5).sf(5)

0.3769531250000001

In [103]:
stats.binom(10,.5).isf(.38)

5.0

In [99]:
stats.binom(10,.5).cdf(5)

0.6230468749999999

In [102]:
stats.binom(10,.5).ppf(.6230)

5.0